         .contenido {
             width: 500px;
             background: rgb(240, 120, 194);
             font: 30px arial;
             margin: auto;
             margin-top: 170px;
             border: 3px soli rgb(145, 16, 177);
             padding: 20px;
             box-shadow: 20px 20px 20px;
    
         }
         body{
            display: flex;
         }

         .contenido2 {
            width: 500px;
            background: rgb(33, 166, 199);
            font: 30px arial;
            margin: auto;
            margin-top: 170px;
            border: 3px soli rgb(47, 80, 224);
            padding: 20px;
            box-shadow: 20px 20px 20px;
   
        }
        body{
           display: flex;
        }